<div class="contents-container" id="videos-container">
  <h1>Create<h1>
    <div class="video-card">
      <div class="video-player">
          <iframe class="video-player" src="https://www.youtube.com/embed/6lutNECOZFw" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="video-title">
        {{newVideo.title}}
      </div>
      <div class="video-description">
        {{newVideo.description}}
      </div>
    </div>
  <a class="add-video-button" href="/">Add a video</a>
</div>
