<div class="contents-container" id="videos-container">
  <h1>Show<h1>
    <div class="video-card">
      <!-- <iframe class="video-player" src="https://www.youtube.com/embed/6lutNECOZFw" frameborder="0" allowfullscreen></iframe> -->
      <div class="video-title">
        <h1>{{newVideo.title}}</h1>
      </div>
      <iframe class="video-player" src="{{newVideo.url}}" frameborder="0" allowfullscreen></iframe>
      <div class="video-description">
        <p>{{newVideo.description}}</p>
      </div>
    </div>
  <a class="add-video-button" id="edit" href="/videos/{{newVideo._id}}/edit">Edit video</a>
</div>
